streamlit==1.35.0
pandas==2.2.2
emoji==2.10.0
textblob==0.18.0
matplotlib==3.8.4
wordcloud==1.9.3
seaborn==0.13.2
numpy==1.26.4
Pillow==10.3.0
PyMuPDF==1.24.2
python-docx==1.1.0
exifread==3.0.0
langdetect==1.0.9
scikit-learn==1.4.2

